/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
  }
  .navbar ul li a:hover {
    background-color: gray;
    border-radius: 5px;
  }

/* Sidebar Styles */
.sidebar {
    background-color: #8310ef;
    padding: 15px;
    width: 200px;
    flex-shrink: 0;
    bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.filters {
    margin-bottom: 20px;
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group h3 {
    margin: 0;
    margin-bottom: 5px;
}

.component-list {
    margin-top: 20px;
}

.component-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.component-item h3 {
    margin: 0 0 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .main-content {
        padding: 10px;
    }

    .filter-group select {
        width: 100%;
    }
}
