
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Header styling */

  .heading{
    font-family: Arial, sans-serif;
    text-align: center;
    
  }
.builder {
  display: flex;
    width: 97.3%;
    flex-direction: column;
    background-color: #1c1f26;
    border-radius: 2px;
    padding: 20px;
}

.compatibility {
    display: flex;
    justify-content: space-between;
    background-color: #28a745;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#wattage{
  margin-right: 100px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
  color: white;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
