
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Header styling */
header {
  background-color: #333;
  color: white;
  height: 100px;
  padding: 10px 0;
  text-align: left;
}

header h1{
  margin-left: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 25px;
  text-align: left;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
}
.navbar ul li a:hover {
  background-color: gray;
  border-radius: 5px;

}/*/* Container holding the sidebar, main content, and other elements */
.reset{
  justify-content: flex-end;
}
  .heading{
    font-family: Arial, sans-serif;
    text-align: center;
    
  }
.builder {
  display: flex;
    width: 97.3%;
    flex-direction: column;
    background-color: #1c1f26;
    border-radius: 2px;
    padding: 20px;
}

.compatibility {
    display: flex;
    justify-content: space-between;
    background-color: #28a745;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#wattage{
  margin-right: 100px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
  color: white;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
