  
  .faq-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .faq-container h1 {
    text-align: center;
    padding: 10px;
    color: #333;
  }
  
  .faq-item {
    margin: 10px 0;
    border-bottom: 1px solid #333;
  }
  
  .faq-question {
    width: 100%;
    text-align: left;
    background-color: gray;
    border: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .faq-question:hover {
    background-color: #e9e9e9;
  }
  
  .faq-answer {
    margin-top: 10px;
    display:block;
    padding: 15px;
    background-color: #fafafa;
  }
  
  .faq-answer p {
    margin: 0;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  

footer {
    background-image: linear-gradient(to top, #1e2c38, gray);
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 30px;
    padding: 20px;
    flex-wrap: nowrap; /* Keep everything in one line */
  }
  
  .footer-section {
    flex: 1;
    margin: 0 10px;
    min-width: 200px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-section h3 i {
    margin-right: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #ccc;
    text-decoration: underline;
  }
  
  .footer-section p {
    margin-bottom: 10px;
  }
  
  .footer-section p i {
    margin-right: 20px;
  }
  
  /* Social Icons with Usernames */
  .follow-us .social-icons {
    display: flex;
    flex-direction: column; /* Stack icons vertically */
  }
  
  .follow-us .social-icons a {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .follow-us .social-icons a i {
    margin-right: 10px;
    font-size: 20px; /* Icon size */
  }
  
  .follow-us .social-icons a:hover {
    color: #ccc;
  }
  .copyright{
    text-align: center;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 100%) {
    .footer-container {
      flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        text-align: center;
    }
  }
