.navbar{
width:100% ;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
}

.guide-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
}
h2 {
    color: red;
    margin-bottom: 15px;
}

.scenario {
    margin-bottom: 30px;
}

.component {
    display: flex;
    justify-content: space-between;
    margin: 0, 0;
}

.component-text {
    width: 100%;
}

.component-text h3 {
    margin-bottom: 10px;
}

.component-text p {
    line-height: 1.6;
}

.component-img {
    width: 25%;
    max-width: 150px;
}

.component-img img {
    width: 80%;
    border-radius: 8px;
}

.combo {
    background-color: #e8f4ff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.combo h4 {
    color: #0073e6;
    margin-bottom: 10px;
}
